@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Medium';
   src: url('../fonts/Inter-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Lexend Deca;
}

header {
    background-image: var(--linear);
    color: white;
    padding: 20px;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

header .input {
    padding: 12px 19px;
    margin-bottom: 48px;
    display: flex;
    background-color: #ffffff33;
    border-radius: 5px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
}

header .input img {
    width: 20px;
    height: auto;
}

header .input input {
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 13px;
    color: white;
    font-family: Medium;
    font-size: 14px;
}

header .input input::placeholder {
    color: white;
    font-family: Medium;
    font-size: 14px;
}


main {
    padding: 0px 20px;
    max-width: 730px;
    margin: auto;
}

main section {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    margin-bottom: 25px;
}

main section div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

main section h3 {
    color: var(--title);
    font-size: 18px;
    margin-bottom: 8px;
}

main section p {
    color: var(--text);
    font-size: 1rem;
    line-height: 26px;
}