@font-face {
    font-family: OpenSansBold;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/background.png");
    background-color: #1E1E20;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: auto;
    font-family: OpenSansBold;
    color: white;
}

header a {
    display: block;
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

main > img {
    width: 500px;
    cursor: pointer;
    transition: transform .2s;
}

main > img:hover {
    transform: scale(1.02);
}

main > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

main .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

main .left > img {
    max-width: 300px;
}

main .chars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}

main .char {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

main .char span {
    font-family: OpenSansBold;
    color: #FF4656;
    margin-top: 0.5rem;
}

#footer {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

#footer img {
    transition: .2s;
    cursor: pointer;
}

#footer img:hover {
    transform: translateY(-15%);
}

@media (max-width: 900px) {
    body {
        height: 100%;
        overflow-y: scroll;
    }

    header h2 {
        display: none;
        opacity: 0;
    }

    main > img {
        display: none;
        opacity: 0;
    }

    main > div {
        margin: 0 auto;
    }

    main .left .chars {
        flex-direction: column;
    }

    main .left > img {
        display: none;
        opacity: 0;
    }

    #footer {
        justify-content: center;
    }
}